@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  /* text-align: center; */
  /* background-color: #06011a; */
  height:100vh;
  overflow-x: hidden;
  font-family: Poppins;
}

.body {
  background-color: #06011a;
}

.hero-body {
  width: 100%;
  max-width: 1800px;
}

